@charset "utf-8";
.clearfix::before, .clearfix::after {
    content: "";
    display: block;
}
.clearfix::after {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px Arial, "맑은 고딕", sans-serif;
}
.top {
    width: 242px;
    margin: 20px auto;
}
.top ul li {
    float: left;
}
.menu {
    height: 33px;
    background: #425b71;
}
.menu ul {
    width: 999px;
    margin: 0 auto;
}
.menu ul li {
    float: left;
}
.menu ul li::after {
    content: url(../images/color_topmenuline.jpg);
}
.menu ul li:last-child::after {
    content: "";
}
.main_visual {
    width: 999px;
    margin: 20px auto;
}
input[type=radio] {
    display: none;
}
.main_visual ul.visual li {
    display: none;
}
#bag1:checked ~ .main_visual ul.visual li:first-child,
#bag2:checked ~ .main_visual ul.visual li:nth-child(2),
#bag3:checked ~ .main_visual ul.visual li:last-child {
    display: block;
}
.main_visual ul.main_visual {
    height: 377px;
}
.main_visual ul.btn li {
    width: 33.333%;
    float: left;
    background: #9cc;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.main_visual ul.btn li label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#bag1:checked ~ .main_visual ul.btn li:first-child,#bag2:checked ~ .main_visual ul.btn li:nth-child(2),#bag3:checked ~ .main_visual ul.btn li:last-child {
    background: #699;
}
.main_visual ul.btn li:hover {
    background: #ccc;
}
.product {
    width: 999px;
    margin: 0 auto;
}
.product ul li {
    float: left;
    text-align: center;
    width: 25%;
}
