$color: #f00;
$wd: 400px;
$pd: 20px;
$font-colorF: #ccc;
$font-colorG: #8ac007;
$font: "맑은 고딕";
header {
    nav {
        width: 800px;
        border: 1px solid $color;
        ul#menu {
            width: $wd;
            list-style: none;
            /*background: $color;*/
            background: if($wd < 500,yellow,blue);
            display: flex;
            margin: 0 auto;
            li{
                width: 25%;
                a {
                    display: block;
                    padding: $pd;
                    text-decoration: none;
                    color: $font-colorF;
                }
            }
        }
    }
}